
.partnerInner_profile{
display: flex;
padding: 40px 0px;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;
}
.partnerInner_info{
	display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
overflow: hidden;
color: var(--mono-color-333, #333);
text-overflow: ellipsis;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.partnerInner_info_title{
	display: flex;
align-items: center;
gap: 8px;
color: var(--mono-color-333, #333);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.partnerInner_info_title>span{
	display: flex;
padding: 3px 8px;
justify-content: center;
align-items: center;
border-radius: 1000px;
border: 1px solid var(--mono-color-ccc, #CCC);
color: var(--mono-color-333, #333);
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
.partnerInner_info_title>img{
	display: flex;
width: 24px;
height: 24px;
justify-content: center;
align-items: center;
}
.partnerInner_info_num{
	display: flex;
align-items: center;
gap: 8px;
}
.partnerInner_info_num>div{
	display: flex;
align-items: center;
gap: 4px;
color: var(--mono-color-808080, #808080);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.partnerInner_info_num>div>span{
	color: var(--mono-color-333, #333);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.partner_myres{
display: flex;
width: 710px;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 8px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fff, #FFF);
margin-top:48px;
}
.partner_myres_title{
	display: flex;
align-items: center;
gap: 8px;
align-self: stretch;
}
.partner_myres_title>img{
	width: 24px;
height: 24px;
flex-shrink: 0;
}
.partner_myres_title_text{
	display: flex;
align-items: center;
gap: 8px;
flex: 1 0 0;
color: var(--mono-color-333, #333);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;	
}
.partner_myres_title_text>img{
	width: 20px;
height: 20px;
}
.partner_myres_title_content{
	display: flex;
padding: 20px 60px;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}
.partner_myres_title_contentbox{
	display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
color: var(--mono-color-333, #333);
text-align: right;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 31px; /* 129.167% */
letter-spacing: -0.096px;
}
.partner_myres_title_contentbox>span{
	color: var(--mono-color-808080, #808080);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.partner_myinfoBox{
	margin-top:48px;
	display: flex;
width: 710px;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 8px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fff, #FFF);
}
.partner_myinfoBox>div{
	display: flex;
align-items: center;
gap: 8px;
align-self: stretch;
	flex: 1 0 0;
	color: var(--mono-color-333, #333);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.partner_myinfoBox>div>img{
	display: flex;
width: 24px;
height: 24px;
justify-content: center;
align-items: center;
}
.partner_myinfoBox_info{
	display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
background: var(--mono-color-fafafa, #FAFAFA);
}
.partner_myinfoBox_info>div{
	display: flex;
align-items: center;
gap: 8px;
align-self: stretch;
color: var(--mono-color-333, #333);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.partner_myinfoBox_info_title{
	display: flex;
width: 80px;
align-items: center;
gap: 4px;
color: var(--mono-color-333, #333);

font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.partner_myinfoBox_info_title>img{
	width:16px;
	height:16px;
}
.partner_myinfoBox_menu_position{
display: flex;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}
.partner_mysite{
	color: var(--mono-color-333, #333);
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
text-decoration-line: underline;
}
.partner_myinfoBox_menu{
	display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
}
.partner_myinfoBox_menu>span{
	color: var(--mono-color-808080, #808080);

font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
text-decoration-line: underline;
}
.partner_myinfoBox_menu>span::hover{
	cursor:pointer;
}
.partner_myinfoBox_menu>div{
	display: flex;
align-items: center;
gap: 16px;
align-self: stretch;
}
.partner_myinfoBox_menu_list{
	display: flex;
justify-content: space-between;
align-items: center;
flex: 1 0 0;
}
#partner_infoBox_rotice{
	display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start !important;
gap: 10px;
align-self: stretch;
background: var(--mono-color-fafafa, #FAFAFA);
color: var(--mono-color-333, #333);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
#partner_infoBox_rotice>div{
	display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
	color: var(--mono-color-333, #333);

font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
#partner_infoBox_rotice>div>img{
	width: 24px;
height: 24px;
cursor:pointer;
}
.partner_title{
	display: flex;
align-items: center;
gap: 8px;
align-self: stretch;
}
.partner_title_text{
	display: flex;
align-items: center;
gap: 8px;
flex: 1 0 0;
	color: var(--mono-color-333, #333);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.partner_title_date{
	color: var(--mono-color-333, #333);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.partner_chart{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
flex: 1 0 0;
}
.partner_chart>div{
	width:678px;
	display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
color: var(--mono-color-333, #333);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
background-color:#fff;
}
.partner_chart_time{
	height: 120px;
align-self: stretch;
background-color:#fff !important;
background: url("../images/ex3.png") lightgray 50% / contain no-repeat;
}
.partner_chart_res{
	height: 120px;
align-self: stretch;
background-color:#fff !important;
background: url("../images/ex4.png") lightgray 50% / contain no-repeat;
}
#myPartner_rotice{
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
	display: none;
width: 640px;
flex-direction: column;
align-items: flex-start;
border-radius: 8px;
background: #FFF;
}
.myPartner_rotice_form{
	display: flex;
padding: 40px;
flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;
color: #181818;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 31px; /* 129.167% */
letter-spacing: -0.096px;
}
.myPartner_rotice_info{
	display: flex;
padding: 16px 0px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
background: var(--mono-color-fafafa, #FAFAFA);
color: var(--mono-color-333, #333);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
}
.myPartner_rotice_info>img{
	width: 24px;
height: 24px;
}
.myPartner_rotice_text{
	display: flex;
height: 216px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
color: var(--mono-color-111, #111);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.myPartner_rotice_text>textarea{
	width:560px;
	height: 186px;
	display: flex;
padding: 12px;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
align-self: stretch;
border-radius: 4px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fff, #FFF);
}
.myPartner_rotice_btnBox{
	display: flex;
justify-content: center;
align-items: center;
gap: 8px;
}
.myPartner_rotice_cancel{
		display: flex;
width: 180px;
padding: 10px 14px;
justify-content: center;
align-items: center;
gap: 4px;
flex: 1 0 0;
border-radius: 8px;
border: 1px solid var(--main-color-100, #FF4147);
background: var(--mono-color-fff, #FFF);
color: var(--main-color-100, #FF4147);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.myPartner_rotice_submit{
	display: flex;
width: 180px;
padding: 10px 14px;
justify-content: center;
align-items: center;
gap: 4px;
flex: 1 0 0;
border-radius: 8px;
background: var(--main-color-100, #FF4147);
color: var(--mono-color-fff, #FFF);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
border:none;
}

/* 파트너 리뷰보기*/
.partner_myreview{
display: flex;
flex-direction: column;
align-items: flex-end;
gap: 20px;
}
.partner_myreview_title{
	display: flex;
align-items: center;
gap: 8px;
align-self: stretch;
}
.partner_myreview_title>img{
	width: 24px;
height: 24px;
flex-shrink: 0;
}
.partner_myreview_title>div{
	width:523px;
	height:25px;
	color: var(--mono-color-333, #333);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.partner_myreview_titleBox{
	display: flex;
width: 710px;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 8px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fff, #FFF);
}
.partner_myreview_avg{
	display: flex;
padding: 0px 16px;
align-items: center;
gap: 40px;
align-self: stretch;
}
.partner_dmyreview_box1{
	display: flex;
padding: 2px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
}
.partner_myreview1_title{
color: var(--mono-color-333, #333);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;	
}
.partner_myreview1_title>span{
	color: var(--main-color-100, #FF4147);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.partner_myreview_box1_img{
	display: flex;
width: 90px;
height: 80px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 8px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
}
.partner_myreview_box1_img>img{
	width: 24px;
height: 24px;
flex-shrink: 0;
}
.partner_myreview_box1_img>div{
	align-self: stretch;color: var(--mono-color-333, #333);
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
.partner_dmyreview_box1>div:last-of-type{
	color: var(--mono-color-333, #333);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
}
.partner_myreview_box2{
	display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
}
.partner_myreview_box2_scope{
	display: flex;
align-items: center;
gap: 8px;
align-self: stretch;
}
.partner_myreview_box2_scope>div:first-of-type{
	display: flex;
width: 40px;
padding: 6px 8px;
align-items: center;
gap: 2px;
border-radius: 1000px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fafafa, #FAFAFA);
}
.partner_myreview_box2_scope>div:first-of-type>img{
	width: 20px;
height: 20px;
flex-shrink: 0;
}
.partner_myreview_box2_scope_ratio{
	display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
border-radius: 100px;
background: var(--mono-color-fafafa, #FAFAFA);
}
.partner_myreview_ratio_line{
border-radius: 100px;
background: var(--main-color-100, #FF4147);
}
.partner_myreview_box2_scope>div:last-of-type{
	color: var(--mono-color-333, #333);
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
#partner_detail_star_line{
	width: 258px;
height: 6px;
}
#partner_detail_wink_line{
	width: 194px;
height: 6px;
}
#partner_detail_smile_line{
	width: 194px;
height: 6px;
}
#partner_detail_confused_line{
	width: 118px;
height: 6px;
}
#partner_detail_pensive_line{
	width: 1px;
height: 6px;
}
.partner_myreview_center{
	display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.partner_myreview_center>div:first-of-type{
	display: flex;
align-items: center;
gap: 4px;
color: var(--mono-color-808080, #808080);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.partner_myreview_center>div:first-of-type>span{
	color: var(--mono-color-333, #333);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.partner_myreview_center>div:last-of-type{
	display: flex;
justify-content: center;
align-items: center;
gap: 8px;
}
.partner_myreview_center_select{
	color: var(--mono-color-808080, #808080);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
}
.partner_myreview_active{
	color: var(--main-color-100, #FF4147);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
text-decoration-line: underline;
}
.partner_myrevivew_list{
	display: flex;
width: 710px;
padding: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
border-radius: 8px;
border: 1px solid var(--mono-color-ccc, #CCC);
background: #FFF;
}
.partner_myreview_list_user{
	display: flex;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
}
.partner_myreview_list_user_img{
	display: flex;
width: 60px;
height: 60px;
justify-content: center;
align-items: center;
border-radius: 999px;
border: 1px solid var(--mono-color-ccc, #CCC);
background: var(--mono-color-fff, #FFF);
}
.partner_myreview_list_user_img>img{
	width: 48px;
height: 48px;
flex-shrink: 0;
}
.partner_myreview_list_user_title{
	display: flex;
align-items: center;
gap: 8px;
flex: 1 0 0;
}
.partner_myreview_list_user_title>img{
	width: 4px;
height: 4px;
}
.partner_myreview_list_user_name{
	color: var(--mono-color-333, #333);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.partner_myreview_list_user_date{
	color: var(--mono-color-333, #333);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.partner_myreview_list_user_rat{
	display: flex;
padding: 6px 8px;
align-items: center;
gap: 2px;
border-radius: 1000px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fafafa, #FAFAFA);
color: var(--mono-color-333, #333);
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
.partner_myreview_list_user_rat>img{
	width: 20px;
height: 20px;
flex-shrink: 0;
}
.partner_myreview_list_user_view{
	display: flex;
align-items: center;
gap: 4px;
color: var(--main-color-100, #FF4147);
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
.partner_myreview_list_user_view>img{
	width: 16px;
height: 16px;
}

.partner_myreview_list_user_btn1,
.partner_myreview_list_user_btn2{
	display: flex;
width: 100px;
padding: 10px 14px;
justify-content: center;
align-items: center;
gap: 4px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
cursor:pointer;
}
.partner_myreview_btn_active{
background: var(--main-color-100, #FF4147);
color: var(--mono-color-fff, #FFF);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
border:none;
}
.partner_myreview_list_user_more{
	display: flex;
justify-content: center;
align-items: center;
align-self: stretch;
padding: 10px 14px;
gap: 4px;
flex: 1 0 0;
border-radius: 8px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fff, #FFF);
color: var(--mono-color-333, #333);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
cursor:pointer;
}
.partner_myreview_list_user_more>img{
	width: 16px;
height: 16px;
}

/* 파트너 리뷰 */
.partner_myreview_detail{
	display: flex;
width: 710px;
padding: 48px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 20px;
border-radius: 8px;
border: 1px solid var(--mono-color-ccc, #CCC);
background: #FFF;
margin-top:48px;
}
.partner_myreview_detail_inner{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.partner_myreview_detail_inner_title{
	display: flex;
padding: 8px 0px;
align-items: center;
gap: 20px;
align-self: stretch;
}
.partner_myreview_detail_inner_title>div:first-of-type{
	display: flex;
width: 60px;
height: 60px;
justify-content: center;
align-items: center;
border-radius: 999px;
border: 1px solid var(--mono-color-ccc, #CCC);
background: var(--mono-color-fff, #FFF);
}
.partner_myreview_detail_inner_title>div:first-of-type>img{
	width: 48px;
height: 48px;
flex-shrink: 0;
}
.partner_myreview_detail_inner_title_box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
}
.partner_myreview_detail_inner_title1{
	display: flex;
padding: 4px 12px;
justify-content: center;
align-items: center;
gap: 2px;
border-radius: 1000px;
background: var(--main-color-120, #EF353A);
color: var(--point-color-5, #FFFDF4);
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
.partner_myreview_detail_inner_title2{
	display: flex;
align-items: center;
gap: 8px;
color: var(--mono-color-333, #333);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.partner_myreview_detail_inner_title2>img{
	width: 4px;
height: 4px;
}
.partner_myreview_detail_inner_card{
	display: flex;
padding: 6px 8px;
align-items: center;
gap: 2px;
border-radius: 1000px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fafafa, #FAFAFA);
color: var(--mono-color-333, #333);
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
.partner_myreview_detail_inner_card>img{
	width: 20px;
height: 20px;
flex-shrink: 0;
}
.partner_myreview_detail_inner_img{
	display: flex;
width: 614px;
align-items: center;
gap: 20px;
}
.partner_myreview_detail_inner_img>div{
	display: flex;
width: 200px;
height: 200px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background: var(--mono-color-ccc, #CCC);
}
.partner_myreview_detail_inner_text{
	display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
background: var(--mono-color-fafafa, #FAFAFA);
color: var(--mono-color-333, #333);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.partner_myreview_detail_inner_textshow{
	display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.partner_myreview_detail_inner_textshow>div{
	display: flex;
align-items: center;
gap: 12px;
}
.partner_myreview_detail_inner_textshow>div>div:first-of-type{
	display: flex;
align-items: center;
gap: 4px;
}
.partner_myreview_detail_inner_textshow>div>div:first-of-type>img{
	width: 20px;
height: 20px;
flex-shrink: 0;
}
.partner_myreview_detail_inner_textshow>div>div:first-of-type>div{
	display: flex;
align-items: center;
color: var(--mono-color-333, #333);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
.partner_myreview_detail_inner_textshow>div>div:first-of-type>div>span{
	color: var(--main-color-100, #FF4147);
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
text-decoration-line: underline;
}

.partner_myreview_detail_inner_view{
	display: flex;
align-items: center;
gap: 4px;
}
.partner_myreview_detail_inner_view>img{
	display: flex;
width: 20px;
height: 20px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.partner_myreview_detail_inner_view>div{
	color: var(--mono-color-808080, #808080);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
.partner_myreview_detail_inner_view>div>span{
	color: var(--main-color-100, #FF4147);
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
.right-align{
	width:600px;
	display: flex;
    justify-content: flex-end;
}
.partner_myreview_detail_inner_respon{
	display: flex;
width: 200px;
padding: 10px 14px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 8px;
background: var(--main-color-100, #FF4147);
color: var(--mono-color-fff, #FFF);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
cursor:pointer;
}
#respon_box{
	display: none;
width: 710px;
padding: 48px;
flex-direction: column;
align-items: center;
gap: 20px;
border-radius: 8px;
border: 1px solid var(--mono-color-ccc, #CCC);
background: #FFF;

}
.partner_myreview_respon_form,
.partner_myreview_edit_form{
	display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
align-self: stretch;
}
.partner_myreview_respon_formbox{
	display: flex;
height: 216px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}
.partner_myreview_respon_formbox>label{
	display: flex;
align-items: flex-start;
gap: 2px;
color: var(--mono-color-111, #111);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.partner_myreview_respon_formbox>textarea{
	height:186px;
	display: flex;
padding: 12px;
align-items: flex-start;
gap: 8px;
align-self: stretch;
border-radius: 4px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fff, #FFF);
}
.partner_myreview_respon_formbox_btnBox{
	display: flex;
justify-content: center;
align-items: center;
gap: 8px;
}
.partner_myreview_respon_form_reset{
width: 180px;
	display: flex;
padding: 10px 14px;
justify-content: center;
align-items: center;
gap: 4px;
flex: 1 0 0;
border-radius: 8px;
border: 1px solid var(--main-color-100, #FF4147);
background: var(--mono-color-fff, #FFF);
color: var(--main-color-100, #FF4147);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.partner_myreview_respon_form_submit{
	width: 180px;
	display: flex;
padding: 10px 14px;
justify-content: center;
align-items: center;
gap: 4px;
flex: 1 0 0;
border-radius: 8px;
background: var(--main-color-100, #FF4147);
color: var(--mono-color-fff, #FFF);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
border:none;
}
.partner_myreview_myanswer{
	display: flex;
padding-top: 20px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.partner_myreview_myanswer_title{
	display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.partner_myreview_myanswer_title>div:first-of-type{
color: var(--mono-color-333, #333);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;	
}
.partner_myreview_myanswer_title>div:last-of-type{
	color: var(--mono-color-808080, #808080);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.partner_myreview_myanswer_inner{
	display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
color: var(--mono-color-333, #333);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.partner_avg_margin{
	margin-top:48px;
}
#partner_myavg_detail{
	display: flex;
width: 200px;
justify-content: center;
align-items: center;
border-radius: 8px;
background: var(--main-color-100, #FF4147);
gap: 4px;
flex: 1 0 0;
padding: 15px 16px;
color: var(--mono-color-fff, #FFF);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
cursor:pointer;
}
.moreMenuBox{
	display:none;
}
.deleteMenu{
	display:none;
}
.menupanBox>img{
	display:none;
}